h2{
    color: white;
    text-align: center;
}

.stats{
    color: white;
}

.statsContainer{
    background-color:#0D1117;
}
.statsContainerHeader{
    background-color:#0D1117
}

.accordian-item{
    border: solid 1px #30363D;
}

.accordion-button{
    background-color:#0D1117;
    color: white;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #0D1117;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
